@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
	&__logo {
		display: flex;
		justify-content: center;
		align-items: end;

		height: 4.8rem;
		font-family: v.$logoFont;
		font-size: 2.2rem;
		color: v.$yellow100;
	}

	&__date {
		display: flex;
		justify-content: center;
		align-items: end;

		height: 3.2rem;
		font-family: v.$mainFont;
		font-size: 1.4rem;
		color: v.$grey50;
	}
}
