// Fonts
$mainFont: "Inter", sans-serif;
$logoFont: "Kaushan Script", cursive;

// Media queries sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$monitor: 1440px;

$backgroundAppDark: #05162a;
$backgroundComponentDark: #212e41;
$backgroundInputDark: #373d4b;

$blue100: #0f8bee;
$blue30: #0f8bee4d;

$orange100: #e9570a;
$orange30: #e9570a4d;

$red100: #d6214a;
$red30: #d6214a4d;

$pink100: #fe638b;
$pink30: #fe638b4d;

$cyan100: #00ded6;
$cyan30: #00ded64d;

$purple100: #7407a7;
$purple30: #7407a74d;

$green100: #4ed238;
$green30: #4ed2384d;

$yellow100: #fff167;
$yellow30: #fff1674d;

$grey100: #000000;
$grey50: #667a8a;
$grey20: #c8d4cd;
$grey10: #e5e9ea;
$grey0: #ffffff;

$spacing: 2rem;
